.majorContainer{

    width: 100vw;
    height: 92.5vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-image: url("https://i.ytimg.com/vi/w26m0KzvZy4/maxresdefault.jpg");
    background-color: rgba(36, 85, 49, 0.531); /* 0.5 representa la opacidad del fondo blanco */
  background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
}

.Container{
    width: 100%;
    margin-top: 6%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.info{
    position: relative;
    border: 5px solid black;
    padding: 0;
    margin: 0;
    width: 700px;
    height: 500px;
    background-image: url("https://w.forfun.com/fetch/03/03fdb791c0c8753db54348da091ba79b.jpeg");
    background-position: 60%;
    background-size: cover;
}
.info::before{
    content: "";
    position: absolute;
    top: -3px; 
    left: -3px;
    right: -3px;
    bottom: -3px; 
    box-shadow: 0 0 10px #002331, 0 0 20px #03334e, 0 0 30px #295d99, 0 0 40px rgb(89, 161, 179), 0 0 70px rgb(113, 187, 230), 0 0 80px rgb(3, 133, 255), 0 0 100px rgb(255, 255, 255), 0 0 150px #00f;
    animation: glow 1s infinite alternate;
    pointer-events: none;
}


.name{
    color:rgb(0, 136, 255);
    font-size: 3em;
    transform: translateX(30px) translateY(10px);
    transition: all .2s ease;

}
.name:hover {
    color: rgb(227, 121, 241);
    cursor: default;
    font-size: 3.5em;
}
.status{
    color: aliceblue;
    font-size: 2em;
    transform: translateX(30px) translateY(40px);
    transition: all .2s ease;

}

.status:hover {
    color: green;
    cursor: default;
    font-size: 2.5em;

}
.species{
    color:aliceblue;
    font-size: 2em;
    transform:  translateX(30px) translateY(40px);
    transition: all .2s ease;

}
.species:hover {
    color: green;
    cursor: default;
    font-size: 2.5em;

    
}


.gender{
    color:aliceblue;
    font-size: 2em;
    transform: translateX(30px) translateY(40px);
    transition: all .2s ease;

    
}
.gender:hover {
    color: green;
    cursor: default;
    font-size: 2.5em;

}

.origin{
    color:aliceblue;
    font-size: 2em;
    transform: translateX(30px) translateY(40px);
    transition: all .2s ease;

    
}
.origin:hover {
    color: green;
    cursor: default;
    font-size: 2.5em;

}

@keyframes glow {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.img {

    border-radius: 50%;
}

p{
    font-size: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    transform: translateY(250%);
}