/* .container{
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #00f, 0 0 70px #00f, 0 0 80px #00f, 0 0 100px #00f, 0 0 150px #00f;
    animation: glow 2s infinite alternate;
}

@keyframes glow {
    from {
      opacity: 0.5;
    }
    to {
      opacity: 1;
    }
  } */

 
  .name {
    position: absolute;
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    font-weight: 600;
    transform: translate(0px, -220%);
    font-weight: bold;
    background-color: rgb(255, 30, 0);

    border-radius: 8px;
    transition: all .5s ease;

  }


  .Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: rgb(255, 65, 65);
    /* transform: translate(150px, 0px); */
  }
  
  /* plus sign */
  .sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sign svg {
    width: 17px;
  }
  
  .sign svg path {
    fill: white;
  }
  /* text */
  .text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
  }
  /* hover effect on button width */
  .Btn:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: .3s;
    transform: translateX(300px);
  }
  
  .Btn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 0px;
  }
  /* hover effect button's text */
  .Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
  }
  /* button click effect*/
  .Btn:active {
    transform: translate(155px ,5px);
  }


  /* .status {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
  }
  .species {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
  }
  .gender {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
  }
  .origin {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
  } */


.img{
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    transform: translateY(5px);
}

  .container {
    box-sizing: border-box;
    border: 5px solid black;
    position: relative;
    max-height: 250px;
    max-width: 200px; /* Establece el ancho máximo que deseas para el contenedor */
    margin: 10px; /* Centra el contenedor en la página */
    padding: 0;
    background-image: url(https://e1.pxfuel.com/desktop-wallpaper/582/799/desktop-wallpaper-rick-and-morty-backround-posted-by-ethan-mercado-rick-and-morty-portal.jpg);
    transition:all .3s ease;
  }
  
  .container::before {
    content: "";
    position: absolute;
    top: -3px; 
    left: -3px;
    right: -3px;
    bottom: -3px; 
    box-shadow: 0 0 10px #025701, 0 0 20px #0a7513, 0 0 30px #29992f, 0 0 40px rgb(94, 179, 89), 0 0 70px rgb(130, 230, 113), 0 0 80px rgb(3, 255, 41), 0 0 100px #00f, 0 0 150px #00f;
    animation: glow 1s infinite alternate;
    pointer-events: none;

  }

  .container:hover{
    max-width: 300px;
    max-height: 400px;
    animation: normal;
    transition-duration: .3s;
  }

  /* .container:hover .info{
    opacity: 1;
    transform: translateY(-100%);
    transition-duration: .3s;

  } */

  .container:hover .name{
    font-size: 1.8em;
    transform: translate(30%, -70px);
  }

  .container:hover .Btn{
    transform: translateX(0px);
  }
  .Btn:hover{
    transform: translateX(-40px);
  }
  
  .info {
    position: absolute;
    background-color: rgba(173, 173, 173, 0.37);
    opacity: 0;
    width: 100%;
    height: 86%;
    /* max-height: 250px; */
    /* transform: translateY(-100%); */
  }

  .link{
    text-decoration: none;
    color: black;
  }


  .container:hover .but{
    transform: translateX(70px);
  }


  
  @keyframes glow {
    from {
      opacity: 0.5;
    }
    to {
      opacity: 1;
    }
  }
  